---
import { site } from '../data/site.ts';
import Social from './Social.astro';
---
<footer class="py-6 text-white footer">
  <div class="container px-6 mx-auto space-y-6 divide-y divide-gray-400 md:space-y-12 divide-opacity-50">
    <div class="grid justify-center lg:justify-between">
      <div class="flex flex-col self-center text-sm text-center md:block lg:col-start-1 md:space-x-6">
        <span>{site.copyright}</span>
        <a href="/sitemap-index.xml">
          <span>Sitemap</span>
        </a>
        <a href="/recipes/">
          <span>Recipes</span>
        </a>
      </div>
      <div class="flex justify-center pt-4 space-x-4 lg:pt-0 lg:col-end-13">
        {site.social.map((sm) => (
          <Social title={sm.title} icon={sm.icon} href={sm.href} effect={sm.effect} />
        ))}
      </div>
    </div>
  </div>
</footer>
