---
import { getCollection } from 'astro:content';
import { sirvImage } from '../utils/image.ts';
import Title from './Title.astro';

interface Props {
  block_title?: string;
  excludeId?: number | string;
}

const { block_title, excludeId } = Astro.props;

const allPortfolio = await getCollection('portfolio');
const websites = allPortfolio.filter(s => s.data.type === 'website');
const sorted = websites.sort((a, b) => b.data.launched.getTime() - a.data.launched.getTime());
const sites = sorted.filter((p) => p.data.id !== excludeId).slice(0, 3);
---
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  {block_title && <Title block_title={block_title} />}

  <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
    {sites.map((site) => {
      const imgHtml = sirvImage(
        `/assets/images/portfolio/${site.data.image_main}`,
        382,
        256,
        {
          title: site.data.client ?? site.data.title,
          alt: site.data.client ?? site.data.title,
          class: 'object-cover w-full h-64',
          resize: true,
        }
      );
      return (
        <div class="overflow-hidden transition-shadow duration-300 bg-white rounded shadow-sm border border-stone-200">
          <a href={`/portfolio/${site.id}/`} aria-label="Article" title={site.data.meta_title} class="inline-block transition-colors duration-200 hover:text-yellow-400 w-full">
            <Fragment set:html={imgHtml} />
          </a>
          <div class="p-5">
            <a
              href={`/portfolio/${site.id}/`}
              aria-label="Article"
              title={site.data.meta_title}
              class="inline-block mb-3 font-sans text-xl font-bold tracking-tight sm:text-2xl sm:leading-none text-title transition-colors duration-200 hover:text-yellow-400"
            >
              {site.data.title ?? site.data.client}
            </a>
            <p class="mb-5 text-gray-700">{site.data.intro}</p>
          </div>
        </div>
      );
    })}
  </div>
</div>
